# 1. Mapa de Casos Encontrados

## Importações

In [14]:
import pandas as pd

### Lê o ``.csv``

Estações

In [15]:
stations_cols=[
    'Código IBGE do Município', 'Nome do Município', 'Estado', 'Nome da Estação', 
    'Latitude', 'Longitude'
]
        
stations_df = pd.read_csv("../data/monitor_ar/EstacoesMonitorAr-Nov-2022.csv", sep=";", usecols=stations_cols)

### Ajusta o dataframe das ``Estações``

In [16]:
stations_df.rename(columns = {
    "Código IBGE do Município": "Codigo_IBGE",
    "Nome do Município": "Nome_Municipio",
    "Nome da Estação": "Nome_Estacao"
}, inplace=True)

Monitores

In [17]:
def get_monitors(cols=None):
    jan_mar_df = pd.read_csv("../data/monitor_ar/Dados_monitorar_jan_mar.csv", encoding="latin", sep=";", usecols=cols)
    abr_jun_df = pd.read_csv("../data/monitor_ar/Dados_monitorar_abr_jun.csv", encoding="latin", sep=";", usecols=cols)
    jul_nov_df = pd.read_csv("../data/monitor_ar/Dados_monitorar_jul_nov.csv", encoding="latin", sep=";", usecols=cols)

    # Junta as três tabelas de monitores
    monitors_df = pd.concat([jan_mar_df, abr_jun_df, jul_nov_df], axis=0)

    return monitors_df

monitors_cols=[
    'Nome do Município', 'Estado', 'Nome da Estação', 'Sigla', 'Concentracao', 'iqar', 'Data'
]
monitors_df = get_monitors(monitors_cols)

C:\Users\Aluno\AppData\Local\Temp\ipykernel_6744\3767179714.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  jul_nov_df = pd.read_csv("../data/monitor_ar/Dados_monitorar_jul_nov.csv", encoding="latin", sep=";", usecols=cols)

### Ajusta o dataframe dos ``Monitores``

In [18]:
monitors_df.rename(columns = {
    "Nome do Município": "Nome_Municipio",
    "Nome da Estação": "Nome_Estacao"
}, inplace=True)
len(monitors_df)

2300233

## 2. Realizar o ``.merge`` (``JOIN``) entre os Dataframes

In [31]:
df = pd.merge(
    left=monitors_df,
    right=stations_df,
    on=['Nome_Municipio', 'Nome_Estacao', 'Estado'],
    how='inner'
)

df

,Nome_Municipio,Estado,Nome_Estacao,Sigla,Concentracao,iqar,Data,Codigo_IBGE,Latitude,Longitude
0,Conceição do Mato Dentro,MG,Aeroporto CMD,MP10,42.000,26.4,31/03/2022,3117504,"-19,021111","-43,434119"
1,Conceição do Mato Dentro,MG,Aeroporto CMD,"MP2,5",8.000,12.8,31/03/2022,3117504,"-19,021111","-43,434119"
2,Conceição do Mato Dentro,MG,Aeroporto CMD,PTS,63.000,NaN,31/03/2022,3117504,"-19,021111","-43,434119"
3,Barra Longa,MG,Barra Longa Centro,MP10,28.000,38.4,31/03/2022,3105707,"-20,282569","-43,040342"
4,Barra Longa,MG,Barra Longa Centro,"MP2,5",10.000,19.2,31/03/2022,3105707,"-20,282569","-43,040342"
...,...,...,...,...,...,...,...,...,...,...
2300228,Rio de Janeiro,RJ,Tijuca,UR,84.730,NaN,01/07/2022,3304557,"-22,924400","-43,232600"
2300229,Rio de Janeiro,RJ,Tijuca,VV,0.060,NaN,01/07/2022,3304557,"-22,924400","-43,232600"
2300230,Triunfo,RS,TRIUNFO/POLO PETROQUÍMICO/MÓVEL,SO2,0.860,2.0,01/07/2022,4322004,"-29,877300","-51,409100"
2300231,Triunfo,RS,TRIUNFO/POLO PETROQUÍMICO/MÓVEL,NO2,9.720,2.0,01/07/2022,4322004,"-29,877300","-51,409100"
2300232,Triunfo,RS,TRIUNFO/POLO PETROQUÍMICO/MÓVEL,CO,0.020,0.0,01/07/2022,4322004,"-29,877300","-51,409100"